<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 	<head>
 		<meta charset="UTF-8"></meta>
 		 <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"rel="stylesheet"></link>
 		 <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
 		 <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
 		 <title>Login</title>
 	</head>
 	<body>
 		<div class="col-sm-5">
 			<div class="page-header">
 				<h1>ユーザー登録画面</h1>
 			</div>
 			<!-- th:action Springセキリュティ使う時 -->
 			<!-- th:object Modelに登録されているオブジェクト受け取れる -->
 			<form method="post" th:action="@{/signup}"th:object="${signupForm}">
 				<table class="table table-bordered table-hover">
 					<tr>
 						<th class="active col-sm-3">ユーザーID</th>
 						<td>
 						<!-- エラー用のcss th:classppend-->
 							<div class="formg-roup"th:classppend="${#fields.hasErrors('userId')}?'has-error'">
 							<!-- th:field オブジェクトのフィールド-->
 								<input type="text"class="form-control"
 								 th:field="*{userId}">
 								 <!-- th:if 条件式設定(trueだとタグが表示) -->
 								 <span class="text-danger"th:if="${#fields.hasErrors('userId')}"th:errors="*{userId}">
 								 	userId error
 								 </span>
 							</div>
 						</td>
 					</tr>
 					<tr>
 					<th class="active">パスワード</th>
 						<td>
 							<div class="form-group"th:classppend="${#fields.hasErrors('password')}?'has-error'">
 								<input type="text"class="form-control"
 								 th:field="*{password}">
 								  <span class="text-danger"th:if="${#fields.hasErrors('password')}"th:errors="*{password}">
 								 	password error
 								 </span>
 							</div>
 						</td>
 					</tr>
 					<tr>
 					<th class="active">ユーザー名</th>
 						<td>
 							<div class="form-group"th:classppend="${#fields.hasErrors('userName')}?'has-error'">
 								<input type="text"class="form-control"
 								 th:field="*{userName}">
 								  <span class="text-danger"th:if="${#fields.hasErrors('userName')}"th:errors="*{userName}">
 								 	userName error
 								 </span>
 							</div>
 						</td>
 					</tr>
 					<tr>
 					<th class="active">誕生日</th>
 						<td>
 							<div class="form-group"th:classppend="${#fields.hasErrors('birthday')}?'has-error'">
 								<input type="text"class="form-control"placeholder="yyyy/MM/dd"
 								 th:field="*{birthday}">
 								 <span class="text-danger"th:if="${#fields.hasErrors('birthday')}"th:errors="*{birthday}">
 								 	birthday error
 								 </span>
 							</div>
 						</td>
 					</tr>
 					<tr>
 					<th class="active">年齢</th>
 						<td>
 							<div class="formgroup"th:classppend="${#fields.hasErrors('age')}?'has-error'">
 								<input type="text"class="formcontrol"
 								 th:field="*{age}">
 								 <span class="text-danger"th:if="${#fields.hasErrors('age')}"th:errors="*{age}">
 								 	age error
 								 </span>
 							</div>
 						</td>
 					</tr>
 					<tr>
 					<th class="active">結婚</th>
 						<td>
 							<div class="form-group"th:classppend="${#fields.hasErrors('marriage')}?'has-error'">
 								<div th:each="item:${radioMarriage}">
 								<!-- SignupControllerクラスで取得したMapを繰り返し -->
 								<!-- th:text　画面表示される文字列を指定 -->
 								<!-- th:value 画面からControllerクラスに送る値指定 -->
 									<input type="radio"name="radioMarrige"
 									 th:text="${item.key}"
 									 th:value="${item.value}"
 									 th:field="*{marriage}">
 									 <span class="text-danger"th:if="${#fields.hasErrors('marriage')}"th:errors="*{marriage}">
 								 		radioMarriage error
 								 	</span>
 								</div>
 							</div>
 						</td>
 					</tr>
 				</table>
 				<ul>
 				<!-- エラーメッセージの一覧表示 -->
 					<li th:each="error:${#fields.detailedErrors()}">
 						<span th:text="${error.message}">Error message</span>
 					</li>	
 				</ul>
 			<button class="btn btn-primary"type="submit">
				ユーザー登録
			</button>
			</form>
		</div>
	</body>
</html>